.login {
  background: #F9F9F9;
  border-radius: 2px;
  margin: 16px auto;
  width: 400px;
}

.login-header {
  background: #188fe8;
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
  padding: 14px 4px;
  text-align: center;
  text-transform: uppercase;
}

.login-container {
  padding: 0px 20px;
}

.login input {
  box-sizing: border-box;
  display: block;
  margin: 16px 0px;
  padding: 10px 14px;
  width: 100%;
}

.login button {
  border: none;
  background: #1567a5;
  box-sizing: border-box;
  color: #FFF;
  margin-bottom: 16px;
  padding: 10px 0px;
  width: 100%;
}

.login-input-valid {
  background: #e7f8dc;
}

.login-result-successfull-checkbox {
  border-radius: 20px;
  box-sizing: border-box;
  background: #79D13F;
  color: #fff;
  display: block;
  font-size: 26px;
  margin: 0 auto;
  padding: 0px 10px;
  height: 40px;
  width: 40px;
}

.login-result-successfull-text {
  display: block;
  padding: 0px 10px;
  text-align: center;
  width: 100%;
}

.login-result-error {
  color: #E11;
  display: block;
  font-size: 12px;
  padding: 1px 10px;
  width: 100%;
}
